<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h3>student is confirmed</h3>
	
<span th:text="${student.firstName} +' '+ ${student.lastName}"></span>

<br /><br />
Country <span th:text="${student.country}"></span>

<br /><br />
FavoriteLanguage <span th:text="${student.favoriteLanguage}"></span>


<br /><br />
Favorite system <span th:text="${student.favoriteSystems}"></span>
<ui>
<li th:each="tempSystem : ${student.favoriteSystems}" th:text=${tempSystem}></li>
</ui>
</body>
</html>